@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
}

body,
html {
  height: 100%;
}

body {
  background-color: #e4e4e4;
}

::selection {
  background-color: #0157e4;
  color: #ffffff;
}

::-moz-selection {
  background-color: #0157e4;
  color: #ffffff;
}

.rainbow-border {
  animation: rotate 20s linear infinite;
  background: linear-gradient(var(--angle),#02fcef70 0,#ffb52b70 50%,#a02bfe70 100%);
}